<script>
    var requireJS = ["static/echarts/echarts.js","js/core/report_echarts.js"];
    loadJS(requireJS, "js/core/report_screen.js");
</script>

<div class="contextMenu" id="myMenu1" style="display: none;">
	<ul>
		<li id="max">放大</li>
	</ul>
</div>
<div class="animated fadeIn" id="report">
	<div class="row">
		<div class="col-lg-6">
			<div class="row" id="graph" style="height:400px;">
				<div class="col-md-12">
					<div class="card">
						<div class="card-block">
							<div class="chart-wrapper" id="poll">
								<div id="main-chart-show">
									<canvas id="main-chart" height="330px"></canvas>
								</div>
								<div id="canvas-bar-show">
									<div id="canvas-bar" style="height:330px;"></div>
								</div>
								<div id="queue-show" >
									<div class="row" id="queueAmount" style="height:330px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="row" id="weekWork">
				<div class="col-md-12">
					<script type="text/template" id="html_template">
										<div>
										<div class="list-group-item media border-none">
                                            <div class="pull-right">
                                                <ul class="actions actions-alt">
                                                    <li class="dropdown">
                                                        <a href="" data-toggle="dropdown">
                                                            <i class="fa fa-ellipsis-v"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
								                            <a class="dropdown-item" href="#" data-ma-action="week_delete">删除</a>
								                            <a class="dropdown-item" href="#">修改</a>
								                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="media-body" style="margin-right:50px;">
                                                <div class="checkbox checkbox-light">
                                                    <label>
                                                        <input type="checkbox" style="opacity:0">
                                                        <i class="input-helper"></i>
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
</div>
</script>

					<div id="todo" class="card card-light" >
                                <div class="card-header ch-alt">
                                    <h2>本周重点工作</h2>
                                    <div class="t-add" >
                                        <i class="ta-btn fa fa-plus" data-ma-action="todo-form-open"></i>
                                        <div class="ta-block">
                                            <textarea placeholder="请输入..." id="week_text"></textarea>
                                            <div class="tab-actions">
                                                <a data-ma-action="todo-form-close" style="color:#F44336;"><i class=" fa fa-close"></i></a>
                                                <a data-ma-action="todo-form-close" href="" class="c-green" id="weekSubmit"><i class=" fa fa-check"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body card-padding" style="background-color:white;overflow: hidden;height: 285px;">
                                    <div class="list-group" id="weekContent">
                                    </div>
                              
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="row" id="ticketGride" style="height: 300px;">
				<div class="col-md-12">
					<div class="card">
						<div class="card-block">
							<table
								class="table table-hover table-outline mb-0 hidden-sm-down table-nowrap">
								<thead class="thead-default">
									<tr>
										<th class="text-center" width="8%">级别</th>
										<th width="40%">工单标题</th>
										<th width="25%">创建时间</th>
										<th width="14%">指定处理人</th>
									</tr>
								</thead>
								<tbody id="reportTicketGrideTable">
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>
		<div class="col-lg-6">
			<div class="row" id="ticketProcess" style="height: 300px;">
				<div class="col-md-12">
					<div class="card">
						<div class="card-block">
							<table
								class="table table-hover table-outline mb-0 hidden-sm-down table-nowrap">
								<thead class="thead-default">
									<tr>
										<th class="text-center" width="8%">级别</th>
										<th width="40%">工单标题</th>
										<th width="25%">创建时间</th>
										<th width="14%">指定处理人</th>
									</tr>
								</thead>
								<tbody id="reportTicketTable">
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->

		</div>
	</div>

</div>

