<script type="text/javascript">
var requireJS = [];
loadJS(requireJS, "js/core/report_chart.js");
</script>

<div class="row">
        <div class="col-md-12">
        	 <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Bar Chart</h4>
                    <div class="small text-muted">November 2015</div>
                </div>
            </div>
            <div class="chart-wrapper" style="height:550px;margin-top:40px;">
                 <canvas id="main-chart" class="chart"></canvas>
            </div>
        </div>
    </div>
    <!--/.card-->
        
        
        </div>
</div>